<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.algebra.linear/matrix/Matrix" 
       class = "linear.algebra.matrix.matrix.MatrixPackage"
       genModel = "model/Matrix.xcore" /> 
	
  </extension>



</plugin>
